/* Custom css title for the app */
@font-face {
    font-family: 'Tahkie';
    src: url('./Fonts/Takhie.ttf') format('truetype');
}

a .title {
    font-family: 'Tahkie';
    font-size: 8em;
    margin-bottom: 0;
    text-decoration: none;
    color: #3f4850;
    background: rgba(255, 255, 255, 0.7) url('./Images/brush_stroke.jpg') no-repeat center;
    background-blend-mode: lighten;
    background-size: contain;
}